@value font-size-40, color-grey-1, font-size-12, font-size-10 from '../../common/style.css';
@value color-white, color-orange-1, font-size-16, font-size-14, color-grey-2, color-blue-2  from '../../common/style.css';
.container {
  width: 80%;
  margin: auto;
}
.title {
  color: color-grey-1;
  font-size: font-size-40;
  font-weight: 700;
  padding: 20px 0;
}
.content {
  color: color-grey-1;
  padding: 20px 0;
}
.img {
  width: 100px;
  height: 100px;
}
.profile_name {
  padding: 1em;
  font-size: font-size-14;
  text-align: center;
}
.box {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 0 auto;
  width: 80%;
}
.icon {
  text-align: end;
}
.image_box {
  margin: 0.5em auto;
}
.image {
  width: 160px;
}
.brand {
  color: color-orange-1;
  font-size: font-size-12;
  font-weight: 700;
  margin-bottom: 0.5em;
}
.name {
  color: color-grey-2;
  font-size: font-size-12;
  font-weight: 700;
  margin-bottom: 0.5em;
}
.volume_price {
  color: color-grey-2;
  font-size: font-size-12;
}
.card {
  padding: 2em;
  width: 80%;
}
.card_bottom_title {
  font-weight: 700;
}
.card_top,
.card_bottom {
  padding: 1.5em;
}
.card_top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: color-blue-2;
  padding: 2em;
}
.card_bottom {
  border-bottom: 1px solid color-blue-2;
  border-right: 1px solid color-blue-2;
  border-left: 1px solid color-blue-2;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: color-white;
}
.profile_box {
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
}
.label {
  font-size: font-size-16;
  font-weight: 700;
}
.value {
  font-size: font-size-14;
}
.vertical {
  flex-direction: column;
}
