@value font-size-50,font-size-20 from '../../common/style.css';
@value color-grey-2,color-grey-3 from '../../common/style.css';


html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.leftBox {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 100%;
}

.leftBox .left_con {
    position: relative;
    top: 5vh;
    left: 4vw;
    margin: 0 auto;
    width: 60%;
    height: auto;
}

.leftBox .left_con .left_ttl {
    position: relative;
    width: 90%;
    height: auto;
}

.leftBox .left_con .left_ttl .ttl_h {
    position: relative;
    font-size: font-size-50;
    font-weight: bold;
}

.leftBox .left_con .left_ttl .ttl_p {
    position: relative;
    top: -40px;
    font-size: 22px;
    color: color-grey-3;
    font-weight: 700;
}

.leftBox .left_con .findpw_form {
    position: relative;
    width: 90%;
    height: auto;
}


.leftBox .left_con .findpw_form .form_ul {
    position: relative;
    width: 100%;
    height: auto;
}

.leftBox .left_con .findpw_form .form_ul .form_input {
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.leftBox .left_con .findpw_form .form_ul .form_input:first-child {
    margin-top: 0px;
}


.leftBox .left_con .findpw_form .form_ul .form_input .input_ttl {
    position: relative;
    font-size: 18px;
    font-weight: 700;
    color: color-grey-2;
}

.leftBox .left_con .findpw_form .form_ul .form_input .input_ttl span{
    color: #EB0000;
    padding-left: 5px;
}

.leftBox .left_con .findpw_form .form_ul .form_input .input_text {
    position: relative;
    top:-10px;
    width:82%;
    height: 35px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    color: #333;
    padding-bottom: 10px;
}

.leftBox .left_con .findpw_form .form_ul .form_input .input_btn{
    position: relative;
    top:-8px;
    width: 18%;
    height: 36px;
    background-color: #666;
    color: #fff;
    border: none;
    cursor:pointer;
}


.leftBox .left_con .findpw_form .form_ul .form_input .input_text_max {
    position: relative;
    width:100%;
    height: 30px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    color: #333;
    padding-bottom: 10px;
}

.leftBox .left_con .findpw_form .form_ul .form_input .input_text_select {
    position: relative;
    top:-10px;
    width:62%;
    height: 35px;
    border-top: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    color: #333;
    padding-bottom: 10px;
    padding-left: 15px;
}

.leftBox .left_con .findpw_form .form_ul .form_input select{
    position: relative;
    top:-8px;
    width:20%;
    height: 35px;
    border: 1px solid #ccc;
}

.leftBox .left_con .join_form .form_ul .form_input .input_btn_select{
    position: relative;
    top:-8px;
    width: 23%;
    height: 36px;
    background-color: #666;
    color: #fff;
    border: none;
    cursor:pointer;
}

input::placeholder {
    font-size: 16px;
    color: #ccc;
}


.leftBox .left_con .findpw_form .form_ul .form_input .submit {
    display: block;
    margin: 0 auto;
    margin-top: 5vh;
    padding-top: 5px;
    width: 200px;
    height: 55px;
    border: 1px solid #FD6C1D;
    border-radius: 38px;
    font-size: 20px;
    color: #FD6C1D;
    cursor: pointer;
    background-color: #fff;
}


.rightBox {
    display: inline-block;
    width: 50%;
    height: 100%;
    background-color: #fff;
}

.rightBox .right_con {
    float: left;
    width: 100%;
    height: 100%;
}

.rightBox .right_img{
    width: 100%;
}