@value color-grey-1 from '../../common/style.css';
.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 80%;
  margin: auto;
}
.title {
  color: color-grey-1;
}
