@value color-white, color-grey-4 from '../../../../common/style.css';
.top_button {
  border: 1px solid color-grey-4;
  background-color: color-white;
  position: fixed;
  bottom: 5em;
  right: 5em;
  z-index: 99;
}
.text {
  color: color-grey-4;
}
