@value color-orange-3, color-orange-6, color-white from '../../common/style.css';
@value font-size-14, font-size-16, font-size-65,font-size-24, font-size-18 from '../../common/style.css';
.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  filter: brightness(0.5);
  z-index: -1;
}
.header {
  width: 80%;
}
.title,
.subtitle,
.subtitle2,
.bottom {
  color: color-white;
  text-align: center;
}
.title {
  font-size: font-size-65;
  font-weight: 700;
  padding-bottom: 30px;
  border-bottom: 1px solid color-white;
}
.subtitle {
  font-size: font-size-24;
  font-weight: 700;
  padding-top: 30px;
}
.subtitle2 {
  font-size: font-size-18;
}
.bottom {
  display: flex;
  flex-direction: column;
}
.bottom button {
  background-color: transparent;
  color: color-white;
}
.test_btn {
  font-size: font-size-18;
  padding: 0.5em 2em;
  border: 1px solid color-white;
  border-radius: 2.5em;
}
.skip_btn {
  font-size: font-size-16;
  padding: 0.5em;
  border: none;
}
.help_btn {
  font-size: font-size-14;
  padding-top: 1.5em;
  border: none;
}
.c1 {
  position: absolute;
  width: 100px;
  height: 100px;
}
