@value font-size-28, font-size-20, font-size-18,font-size-14 from '../../../common/style.css';
@value color-orange-1, color-grey-2, color-grey-4 from '../../../common/style.css';


.container{
    width: 80%;
    margin: 0 auto;
}
.main_title{
    margin-top: 20px;
    text-align: center;
    font-size: font-size-28;
    margin-bottom: 20px;
    color: color-grey-1;
}
.test_result{
    color: color-orange-1;
    font-weight: 600;
}
.you{
    margin-bottom: 0px;
}
.you2{
    margin-top: 0px;
}
.box{
    border: 1px solid color-grey-4;
    padding: 10px;
    height: 180px;
    text-align: center;
    margin-bottom: 20px;
}
.color{
    width: 80%;
    font-weight: 600;
    font-size: font-size-28;
    margin: 0 auto;
    margin-top: 30px;
}
.des{
    width: 80%;
    white-space: pre-wrap;
    margin: 0 auto;
    text-align: left;
    line-height: 30px;
    font-size: font-size-14;
}
.text{
    margin-top: 10px;
    color: color-grey-2;
}
.tip{
    margin-bottom: 20px;

}
.place{
    height: 300px;
}
.titles{
    font-size: font-size-20;
    font-weight: 600;
    margin-bottom: 5px;
}
.boxs{
    display: inline-block;
    border-left: 5px solid color-orange-1;
    height: 28px;
    width: 5px;
}
