@value color-grey-1,color-grey-2, font-size-12 from '../../../common/style.css';

.footer {
  width: 100%;
  background-color: color-grey-1;
  padding: 3em;
}
.text {
  text-align: center;
  font-size: font-size-12;
  color: color-grey-2;
  padding: 0.25em 0;
}
