@value color-grey-4 from '../../common/style.css';

.page,
.detail,
.youtube,
.review{
    width: 80%;
    margin: 0 auto;
}
.detail{
    margin-bottom: 20px;
}
.youtube{
    margin-bottom: 20px;
}
.review{
    margin-bottom: 20px;
}
.bar{
    border-top: 1px solid color-grey-4;
    width: 100%;
}
.youtube_icon{
    width: 47px;
}
.title{
    font-weight: 600;
}