.graph_area{
    float: left;
    padding-right: 40px;
    width: 255px;
    height: 231px;
    border-right: 1px solid #ddd;
    
}

.graph_list{
    text-align: center;
}

.graph_list li{
    position: relative;
    display: inline-block;
    width: 38px;
    padding: 27px 0 0 0;
    text-align: center;
}

.per{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    font-size: 14px;
    color: #aaa;
    font-weight: 700;
}

.graph{
    position: relative;
    width: 8px;
    height: 100px;
    background-color: #e5e5e5;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 8px;
}

.graph > span{
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 8px;
    height: 75%; /*동적 수정*/
    background-color: #f27370;
    border-radius: 5px;
}

.txt{
    font-size: 14px;
    color: #888;
    font-weight: bold;
}

