@value font-size-14, color-grey-2 from '../../../common/style.css';
.navbar {
  position: relative;
  display: flex;
  justify-content: center;
  float: right;
}
.div::after{
    clear: both;
    content: '';
    display: block;
}
.user_btn {
  position: absolute;
  right: 0;
  color: color-grey-2;
  float: right;
}
.tab {
  font-weight: 700;
}
.menu_item {
  font-size: font-size-14 !important;
  font-weight: 700 !important;
}
